PORT=4000

MONGODB_URI=your_mongodb_connection_string

OPENAI_API_KEY=your_openai_api_key

SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=your_mailtrap_username
SMTP_PASS=your_mailtrap_password

FRONTEND_URL=http://localhost:3000

JWT_SECRET=your_jwt_secret

RECALL_API_KEY=your_recall_api_key

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_REDIRECT_URI=http://localhost:4000/api/auth/google/callback